
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <img id="profile-image" src="{{ user.image_file }}" alt="User Photo">
        
        <div id="user-info">
            <p>{{ user.name }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        <div id="favorite-restaurants">
            <h2>Favorite Restaurants</h2>
            <div class="row">
                {% if restaurant_images %}
                    {% for restaurant_name, image_path in restaurant_images.items() %}
                        <div class="restaurant">
                            <img src="{{ image_path }}" alt="{{ restaurant_name }}">
                            <a href="/restpage/{{ restaurant_name }}">{{ restaurant_name }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You haven't left any review</p>
                {% endif %}
            </div>
        </div>
        <div id="my-reviews">
            <h2>My Reviews</h2>
            {% if restaurant_reviews %}
                {% for review, image in restaurant_reviews.items() %}
                    <div class="review">
                        <div class="restaurant">
                            <img src="{{ image }}" alt="Restaurant">
                            <p class="restaurant-name"><a href="/restpage/{{ review.restaurant_name }}">{{ review.restaurant_name }}</a></p>
                        </div>
                        <div class="review-text">
                            <p>Your garde: {{ review.rating }} stars</p>
                            <p>{{ review.feedback }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You haven't left any review yet.</p>
            {% endif %}
        </div>
    </div>
    <div id="back-button">
        <a href="/"><i class="fas fa-home"></i> Back to Main Page</a>
    </div>
    <div id="experience">
        <h2>Tell Us About Your Experience</h2>
        <form action="{{ url_for('views.notebutton') }}" method="POST">
            <textarea id="review" name="review" class="form-control" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>